.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  margin-bottom: 15px;
  margin-top: 40px
}

.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  margin-bottom: 60px;
}

.searchWords {
  margin-left: 30%;
  display: flex;
  margin-right: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 35px;
}

.searchLink {
  text-decoration: none;
  font-size: 15px;
  color: #282c34;
  text-align: start;
}

#searchInput {
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 10px;
}

button {
  padding: 10px;
  margin-left: 5px;
  border-radius: 15px;
}

.searchresults {
  margin-bottom: 50px;
  width: 75vw;
  padding: 0 30px 20px 30px;
  display: flex;
  border-radius: 20px;
  text-align: left;
  background-color: white;
  color: #282c34;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}